h1, h2, h3, #exitIntroButton {
  font-family: 'Unkempt', cursive;
}
/*index intro screen*/
#startGameButton {
  display: none;
}
.intro_screen h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
}
.intro_screen {
  text-align: center;
}
.intro_screen img {
  max-width: 100%;
  padding: 2%;
}
#exitIntroButton {
  font-size: 45px;
  padding: 2%;
  border-radius: 20%;

}
/*index main game*/
.main_game_div {
  display: none;
  margin-top: 10%;
}
.rule_link {
  float: right;
  display: none;
  font: #3366cc;
  font-family: 'Unkempt', cursive;
  font-size: 35px;
  font-weight: bold;
}

/*scripts append main game */
.player {
  padding-left: 2%;
}
.player, .card {
  border: solid black 1px;
  border-radius: 3px;
}
/*player creation page*/
.player_page {
  display: none;
}
.player_rules{
  border: solid #33ccff 10px;
  font-size: 25px;
  margin: 10%;
  padding: 2%;
}
.player_rules h2 {
  text-decoration: underline;
}
.well {
  background:#d6f5f5;
  color: #003d66;
}
/*populate card JS*/
.js__not-owned {
  opacity: .25;
}
