#startGameButton {
  display: none;
}

.main_game_div {
  display: none;
}

.player_creation {
  display: none;
}

.player, .card {
  border: solid black 1px;
  border-radius: 3px;
}

.js__not-owned {
  opacity: .25;
}

h2 {
  font-size: 20px;
}

.card__row img {
  width: 50px;
}

.card__row div {
  text-align: center;
}

@media (min-width: 760px) {
  .card__row img {
    width: 100px;
  }
  .game__board {
    float: left;
    width: 25%;
  }
  .game__players {
    float: right;
    width: 75%;
  }
}
